@import 'src/styles/vars';

.input {
  display: flex;
  flex-direction: column;
  background-color: $color-blue-dark;
  color: $color-light;
  font-size: $base-font-size;
  margin: $base-margin $base-margin/2;
  padding: $base-padding;
  padding-top: 0;
  border-radius: 5px;
  min-width: 10rem;
  max-width: 20rem;

  &__label {
    padding: $base-padding;
  }

  &__text {
    background-color: $color-light;
    border: none;
    border-bottom: 3px solid transparent;
    font-size: $base-font-size;
    padding: $base-padding;

    &--good {
      border-bottom: 3px solid $color-dark;
    }

    &--bad{
      border-bottom: 3px solid $color-red;
    }
  }
}
