$base-padding: 0.5rem;
$base-margin: 1rem;
$base-font-size: 1.2rem;
$fantasy-font: 'SpicyRice', Arial, Helvetica, sans-serif;

$color-light: #FFFFF7;
$color-green: #3DA8A4;
$color-green-light: #7ACCBE;
$color-pink: #FF99A1;
$color-red: #FF6D6A;
