$base-padding: 0.5rem;
$base-margin: 1rem;
$base-font-size: 1.2rem;
$fantasy-font: 'CevicheOne', Arial, Helvetica, sans-serif;

$color-light: #ecf9ff;
$color-dark: #104161;
$color-blue-dark: #09699E;
$color-blue-light: #7ecefd;
$color-red: #ff7f66;
