@import 'reset';
@import 'vars';

@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Regular.ttf');
}
@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'SpicyRice';
  src: url('fonts/SpicyRice-Regular.ttf');
}

body {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
}
