@import 'src/styles/vars';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: $base-font-size;

  &-wrapper {
    flex-grow: 2;
    max-width: 1440px;
  }
}

@media ALL and (min-width: 1440px) {
  .app {
    &-wrapper {
      margin: 0 auto;
    }
  }
}
