@import 'src/styles/vars';

.home {
  margin-top: $base-margin;

  &__title {
    font-family: $fantasy-font;
    font-size: $base-font-size*1.6;
    color: $color-dark;
    margin-bottom: $base-margin;
  }

  &__text {
    padding-bottom: $base-padding;
  }
}
