@import 'src/styles/vars';

.header {
  padding: $base-padding*2;
  background-color: $color-pink;
  text-transform: uppercase;

  &__title {
    font-family: $fantasy-font;
    font-size: $base-font-size*2;
  }
}
